휴일 지정하기 엲습
- <티스토리 링크|https://bohemihan.tistory.com/entry/KOREA-working-days-%EB%8C%80%EC%B2%B4%EA%B3%B5%ED%9C%B4%EC%9D%BC-%EB%B0%98%EC%98%81>

In [1]:
import pandas as pd
import datetime
import calendar
import holiday

In [8]:
join_raw = pd.read_csv('C:/Users/win10_original/Desktop/자동화프로세스/payments_raw/payments_join_data_raw.csv')
join_raw['register_month'] = pd.to_datetime(join_raw['register_month'], format='%Y-%m-%d')
join_raw['register_day'] = pd.to_datetime(join_raw['register_day'], format='%Y-%m-%d')

join_raw['register_day']

0     2022-01-01
1     2022-01-02
2     2022-01-03
3     2022-01-04
4     2022-01-05
         ...
386   2023-01-22
387   2023-01-23
388   2023-01-24
389   2023-01-25
390   2023-01-26
Name: register_day, Length: 391, dtype: datetime64[ns]

In [10]:
temp = join_raw[['register_day']]
temp

    register_day
0     2022-01-01
1     2022-01-02
2     2022-01-03
3     2022-01-04
4     2022-01-05
..           ...
386   2023-01-22
387   2023-01-23
388   2023-01-24
389   2023-01-25
390   2023-01-26

[391 rows x 1 columns]

In [18]:
temp.dt.weekday

AttributeError: 'DataFrame' object has no attribute 'dt'

In [15]:
import holidays
kor_holidays = list(holidays.KOR(years = range(2010, 2030)).keys())

In [16]:
target_days = []
for last_day in temp:
    while (last_day in kor_holidays) or (last_day.weekday() == 5):
        diff_days = datetime.timedelta(days=1)
        last_day = last_day - diff_days
    target_days.append(last_day)

target_days

AttributeError: 'str' object has no attribute 'weekday'